* {
    background-color: rgb(46, 46, 46) !important;
    color: white !important;    
    border-color: white !important;
    background-image: none !important;
    border-radius: 15px !important;
}

a {
    border-style: none !important;
}

svg {
    fill: white !important;
}

.ic-app-header__logomark {
    display: none !important;
}

.Grouping-styles__title::after {
    display: none !important;
}

.Grouping-styles__title {
    background-color: rgba(0, 0, 0, 0) !important;
}

.Grouping-styles__overlay {
    border-style: solid !important;
    box-shadow: -1px 1px 11px 1px white !important;
}
