:root {
    --canvas-style-bgc: rgb(46, 46, 46);
    --canvas-border-radius: 15px;
    --canvas-style-tc: white;
    --cavnas-style-bc: white;
    --canvas-box-shadow: 0px 2px 10px 0px white;
}

:not(.Grouping-styles__overlay, .ic-DashboardCard__header_hero, .ic-DashboardCard__header_image) {
    background-color: var(--canvas-style-bgc) !important;
    color: var(--canvas-style-tc) !important;    
    border-color: var(--canvas-style-bc) !important;
    background-image: none !important;
    border-radius: var(--canvas-border-radius) !important;
}

a {
    border-style: none !important;
}

svg {
    fill: var(--canvas-style-tc) !important;
}

.ic-app-header__logomark {
    display: none !important;
}

.Grouping-styles__title::after {
    display: none !important;
} 

.event-details::after {
    display: none !important;
}

.Grouping-styles__title {
    background-color: rgba(0, 0, 0, 0) !important;
}

.Grouping-styles__overlay {
    border-style: solid !important;
    box-shadow: var(--canvas-box-shadow) !important;
    border-radius: var(--canvas-border-radius) !important;
}

.CompletedItemsFacade-styles__root {
    border: none !important;
}

.PlannerItem-styles__root {
    border: none !important;
}

ol.Grouping-styles__items {
    margin-left: 15px !important;
    border: 2px solid var(--canvas-style-bc) !important;
    box-shadow: var(--canvas-box-shadow) !important;
}

.NotificationBadge-styles__activityIndicator.NotificationBadge-styles__hasBadge {
    background-color: rgba(0, 0, 0, 0) !important;
}

a.Button {
    border-style: solid !important;
}